.container {
    width: 100%;
    height: auto;
    margin: 0 auto;
    .container_body {
        width: 100%;
        justify-content: center;
        display: flex;
        gap: 30px;
        margin: 50px auto;
    }
}
