.container {
    width: 100%;
    height: auto;
    margin: 0 auto;
    .container_body {
        max-width: 1500px;
        justify-content: space-between;
        display: flex;
        margin: 50px auto;
    }
}
@media screen and (max-width: 1470px) {
    .container {
        .container_body {
            justify-content: center;
        }
    }
}
