.container {
    .container_sibarleft {
        left: 0;
        width: 340px;
        height: fit-content;
        padding: 0 20px;
        // width: fit-content;
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: var(--backgroundcolor_30);
        border-radius: 20px;
        .search {
            padding-top: 20px;
            h1 {
                font-size: 20px;
                font-weight: 700;
            }
        }
    }
    .scrollTop {
        position: sticky;
        top: 0;
        left: 0;
        position: -webkit-sticky;
        overflow-y: auto;
        max-height: 100vh;
        z-index: 10000;
    }
    .button_filter {
        position: fixed;
        display: none;
        bottom: 2%;
        right: 2%;
        font-size: 30px;
        height: 40px;
        width: 40px;
    }
}
@media screen and (max-width: 1470px) {
    .container {
        .container_sibarleft {
            display: none;
        }
        .container_sibarleft.active {
            position: absolute;
            left: 0;
            display: block;
            z-index: 1000;
        }
        .scrollTop.active {
            position: sticky;
            top: 0;
            left: 0;
            position: -webkit-sticky;
            overflow-y: auto;
            max-height: 100vh;
            z-index: 10000;
        }
        .button_filter {
            z-index: 1000;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            border: solid 2px #fff;
            background-image: var(--linearcolor_befor_hover);
            color: var(--backgroundcolor_60);
            &:hover {
                cursor: pointer;
                color: var(--color_purple);
                border: 2px solid var(--color_purple);
                background-image: none;
            }
        }
    }
}
