.container_search {
    display: flex;
    align-items: center;
    width: 100%;
    height: 46px;
    position: relative;
    input {
        font-style: italic;
        width: 100%;
        height: 100%;
        background-color: var(--backgroundcolor_30);
        outline: none;
        border: var(--border_input);
        padding-left: 30px;
        border-radius: 30px;
        font-size: var(--font_size_p);
        &:focus {
            outline-width: 0.5px;
            outline-color: #d900ff;
            outline-style: solid;
        }
    }
    .icon_search_nav {
        position: absolute;
        border: none;
        background-color: var(--backgroundcolor_30);
        left: 10px;
        font-size: var(--font_size_title);
        display: flex;
        align-items: center;
    }
}
@media screen and (max-width: 1210px) {
    .container_search {
        height: 40px;
    }
}
