.containerList_container {
    width: 100%;

    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
    }
    p {
        width: 40%;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 20px;
        text-align: center;
    }
    .container_more {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        color: rgba(124, 58, 237, 0.75);
        font-weight: 600;
        margin: 20px;
    }
}
