.container_dropmenu {
    position: relative;
    width: auto;
    li {
        display: flex;
        align-items: center;
        cursor: pointer;
        &:hover {
            color: var(--font_color_purble_hover);
        }
    }
    .box_dropmenu {
        margin-left: 50px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: var(--backgroundcolor_60);
        z-index: 1000;
        position: absolute;
        width: 200px;
        height: 150px;
        top: 54px;
        left: -10px;
        border: var(--border_input);
        border-radius: var(--border_radius_20);
        li {
            display: flex;
            align-items: center;
            height: 50px;
            width: 100%;
            padding: 20px;

            &:hover {
                background-color: var(--backgroundcolor_30);
            }
        }
        @media screen and (max-width: 1200px) {
            top: 42px;
        }
    }
}
@media screen and (max-width: 992px) {
    .container_dropmenu {
        .box_dropmenu {
            top: 100%;
            width: calc(100% - 50px);
            position: static;
            // position: absolute;
            border: none;
            border-radius: 10px;
        }
    }
}
