.cardnft_container {
    width: 260px;
    // max-width: 280x;
    // height: 410px;
    border-radius: 20px;
    border: 0.5px solid #8f04a6;
    background: #f8fafd;
    // margin: 10px;
    a {
        border-radius: 20px;
    }
    .cardnft_container_image {
        position: relative;
        width: 240px;
        height: 240px;
        margin: 8px auto;
        border-radius: 20px;
        opacity: 0.85;
        background: linear-gradient(
            227deg,
            rgba(255, 255, 255, 0.5) 2.04%,
            rgba(204, 198, 198, 0.75) 51.02%,
            #665959 100%
        );
        box-shadow: 4px 10px 4px 0px rgba(0, 0, 0, 0.25);
        img {
            width: 100%;
            height: 100%;
            border-radius: 20px;
            object-fit: cover;
        }
        .cardnft_container_image_icon {
            top: 10px;
            width: 100%;
            position: absolute;
            display: flex;
            justify-content: space-between;
            padding: 5px 10px;
        }
    }
    .cardnft_container_info {
        width: 100%;
        margin: 0 auto;
        .cardnft_container_info_title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            span {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 10px 25px;
                color: #8f04a6;
                font-weight: 700;
            }
        }

        .cardnft_container_info_PolicyID {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 10px;
            span {
                font-weight: 600;
            }
            .cardnft_container_info_PolicyID_right {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 10px 0;
                gap: 5px;
                span {
                    font-weight: normal;
                    font-size: 12px;
                    opacity: 0.7;
                }
            }
        }
    }
}
.cardnft_container:hover {
    box-shadow: 4px 10px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
}
@media screen and (max-width: 1100px) {
    .cardnft_container {
        font-size: var(--font_size_title);
        width: 240px;
        .cardnft_container_image {
            position: relative;
            width: 220px;
            height: 220px;
            margin: 6px auto;
            border-radius: 20px;
            opacity: 0.85;
            box-shadow: 3px 8px 3px 0px rgba(0, 0, 0, 0.25);
        }
        .cardnft_container_info {
            width: 100%;
            margin: 0 auto;
            .cardnft_container_info_title {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .cardnft_container_info_PolicyID {
                span {
                    font-size: 12px;
                    font-weight: 600;
                }
                .cardnft_container_info_PolicyID_right {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 10px 0;
                    gap: 5px;
                    span {
                        font-weight: normal;
                        font-size: 12px;
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 992px) {
    .cardnft_container {
        font-size: var(--font_size_title);
        width: 186px;
        .cardnft_container_image {
            position: relative;
            width: 168px;
            height: 168px;
            margin: 4px auto;
            border-radius: 20px;
            opacity: 0.85;
            box-shadow: 2px 4px 2px 0px rgba(0, 0, 0, 0.25);
            .cardnft_container_image_icon {
                top: 5px;
                width: 100%;
                position: absolute;
                display: flex;
                justify-content: space-between;
                padding: 5px 5px;
            }
        }
        .cardnft_container_info {
            width: 100%;
            margin: 0 auto;
            .cardnft_container_info_title {
                font-size: 12px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .cardnft_container_info_auth {
                font-size: 12px;
                .cardnft_container_info_auth_price {
                    font-weight: 600;

                    span:first-child {
                        padding-right: 5px;
                    }
                }
            }
            .cardnft_container_info_PolicyID {
                span {
                    font-size: 10px;
                    font-weight: 600;
                }
                .cardnft_container_info_PolicyID_right {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 8px 0;
                    gap: 5px;
                    span {
                        font-weight: normal;
                        font-size: 10px;
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .cardnft_container {
        color: var(--font_color_dark);
        font-size: var(--font_size_title);
        width: 260px;
        border-radius: 20px;
        border: 0.5px solid #8f04a6;
        background: #f8fafd;
        a {
            border-radius: 20px;
        }
        .cardnft_container_image {
            position: relative;
            width: 240px;
            height: 240px;
            margin: 8px auto;
            border-radius: 20px;
            opacity: 0.85;
            background: linear-gradient(
                227deg,
                rgba(255, 255, 255, 0.5) 2.04%,
                rgba(204, 198, 198, 0.75) 51.02%,
                #665959 100%
            );
            box-shadow: 4px 10px 4px 0px rgba(0, 0, 0, 0.25);
            img {
                width: 100%;
                height: 100%;
                border-radius: 20px;
                object-fit: cover;
            }
            .cardnft_container_image_icon {
                top: 10px;
                width: 100%;
                position: absolute;
                display: flex;
                justify-content: space-between;
                padding: 5px 10px;
            }
        }
        .cardnft_container_info {
            width: 100%;
            margin: 0 auto;
            .cardnft_container_info_title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 10px 25px;
                    color: #8f04a6;
                    font-weight: 700;
                }
            }
            .cardnft_container_info_auth {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 10px;
                border-radius: 10px;
                background-color: #e4eeef;
                margin: 0 10px;
                .cardnft_container_info_auth_price {
                    font-weight: 600;
                    span:first-child {
                        padding-right: 5px;
                    }
                }
            }
            .cardnft_container_info_PolicyID {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 10px;
                span {
                    font-weight: 600;
                }
                .cardnft_container_info_PolicyID_right {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 10px 0;
                    gap: 5px;
                    span {
                        font-weight: normal;
                        font-size: 12px;
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 540px) {
    .cardnft_container {
        width: 200px;
        border-radius: 20px;

        .cardnft_container_image {
            position: relative;
            width: 190px;
            height: 190px;
            margin: 6px auto;
            box-shadow: 3px 8px 3px 0px rgba(0, 0, 0, 0.25);
            .cardnft_container_image_icon {
                top: 8px;
                padding: 5px 5px;
            }
        }
        .cardnft_container_info {
            width: 100%;
            margin: 0 auto;
            .cardnft_container_info_title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 10px 25px;
                    color: #8f04a6;
                    font-weight: 700;
                }
            }
            .cardnft_container_info_auth {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 10px;
                border-radius: 10px;
                background-color: #e4eeef;
                margin: 0 10px;
                .cardnft_container_info_auth_price {
                    font-weight: 600;
                    span:first-child {
                        padding-right: 5px;
                    }
                }
            }
            .cardnft_container_info_PolicyID {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 10px;
                span {
                    font-weight: 600;
                }
                .cardnft_container_info_PolicyID_right {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 10px 0;
                    gap: 5px;
                    span {
                        font-weight: normal;
                        font-size: 12px;
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 440px) {
    .cardnft_container {
        width: 180px;
        border-radius: 15px;

        .cardnft_container_image {
            position: relative;
            width: 170px;
            height: 170px;
            margin: 6px auto;
            box-shadow: 2px 4px 2px 0px rgba(0, 0, 0, 0.25);
            .cardnft_container_image_icon {
                top: 6px;
                padding: 4px 4px;
            }
        }
        .cardnft_container_info {
            width: 100%;
            margin: 0 auto;
            .cardnft_container_info_title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 8px 20px;
                    color: #8f04a6;
                    font-weight: 700;
                }
            }
            // .cardnft_container_info_auth {
            //     display: flex;
            //     justify-content: space-between;
            //     align-items: center;
            //     padding: 8px 8px;
            //     border-radius: 10px;
            //     background-color: #e4eeef;
            //     margin: 0 8px;
            //     .cardnft_container_info_auth_use {
            //         display: flex;
            //         align-items: center;
            //         justify-content: center;
            //         .user_image {
            //             width: 32px;
            //             height: 32px;
            //             img {
            //                 width: 100%;
            //                 height: 100%;
            //                 border-radius: 50px;
            //                 object-fit: cover;
            //             }
            //         }
            //         span {
            //             display: flex;
            //             padding-left: 8px;
            //             justify-content: center;
            //             align-items: center;
            //             font-weight: 700;
            //         }
            //     }
            //     .cardnft_container_info_auth_price {
            //         font-weight: 600;
            //         span:first-child {
            //             padding-right: 4px;
            //         }
            //     }
            // }
            .cardnft_container_info_PolicyID {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 8px;
                span {
                    font-weight: 600;
                }
                .cardnft_container_info_PolicyID_right {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 8px 0;
                    gap: 4px;
                    span {
                        font-weight: normal;
                        font-size: 10px;
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}
