.container {
    width: 100%;
    .background {
        position: relative;
        width: 100%;
        height: 396px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .avatar {
            // margin-bottom: 20px;
            left: 6%;
            bottom: -100px;
            position: absolute;
            border-radius: 100px;
            border: 5px solid var(--backgroundcolor_60);
            width: 200px;
            height: 200px;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .icon {
            position: absolute;
            right: 2%;
            top: 86%;
        }
        .follow {
            position: absolute;
            top: 130%;
            left: 6%;
        }
    }
    .description {
        height: 200px;
        width: 90%;
        margin: 0 auto;
        padding-left: 270px;
        background-color: var(--backgroundcolor_30);
        border-radius: 0 0 20px 20px;
        .row_description {
            display: flex;
            justify-content: space-between;
            .name {
                margin-top: 20px;
                display: flex;
                justify-content: center;
                align-items: center;

                h1 {
                    font-size: 30px;
                    font-weight: 700;
                    margin-right: 10px;
                }
            }
            .contact {
                margin: 20px;
                display: flex;
                gap: 20px;
                .icon {
                    font-size: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 40px;
                    height: 40px;
                    border-radius: 5px;
                    border: solid 2px var(--color_purple);
                    a {
                        padding-top: 2px;
                        padding-left: 10px;
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1200px) {
    .container {
        .background {
            .avatar {
                bottom: -100px;
                left: 6%;
                width: 200px;
                height: 200px;
            }
        }
        .description {
            height: 200px;
            padding-left: 260px;
            .row_description {
                .name {
                    h1 {
                        font-size: 20px;
                        margin-left: 20px;
                    }
                }
            }
            .sologan {
                font-size: 14px;
                margin-left: 20px;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .container {
        .background {
            .avatar {
                bottom: -100px;
                left: 6%;
                width: 200px;
                height: 200px;
            }
        }
        .description {
            height: 200x;
            .row_description {
                .name {
                    h1 {
                        font-size: 20px;
                        margin-left: 20px;
                    }
                }
            }
            .sologan {
                font-size: 14px;
                margin-left: 20px;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .container {
        .background {
            .avatar {
                bottom: -75px;
                left: 6%;
                width: 150px;
                height: 150px;
            }
            .follow {
                top: 123%;
                left: 6%;
            }
        }
        .description {
            height: 160px;
            padding-left: 210px;
            .row_description {
                .name {
                    h1 {
                        font-size: 20px;
                        margin-left: 20px;
                    }
                }
            }
            .sologan {
                font-size: 14px;
                margin-left: 20px;
            }
        }
    }
}

@media screen and (max-width: 540px) {
    .container {
        .background {
            .avatar {
                bottom: -50px;
                left: 11%;
                width: 100px;
                height: 100px;
            }
            .follow {
                width: 100px;
                top: 115%;
                left: 6%;
            }
        }
        .description {
            height: 140px;
            padding-left: 150px;
            .row_description {
                .name {
                    top: 100%;
                    h1 {
                        font-size: 20px;
                    }
                }
                .contact {
                    margin: 20px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    .icon {
                        font-size: 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 30px;
                        height: 30px;
                        border-radius: 5px;
                        border: solid 2px var(--color_purple);
                        a {
                            margin-bottom: 10px;
                            padding-left: 4px;
                            display: block;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
            .sologan {
                font-size: 14px;
                margin-left: 20px;
            }
        }
    }
}
