.container {
    width: 100%;
    .background {
        z-index: 100;
        position: relative;
        width: 100%;
        height: 396px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .avatar {
            // margin-bottom: 20px;
            left: 6%;
            bottom: -100px;
            position: absolute;
            border-radius: 100px;
            border: 5px solid var(--backgroundcolor_60);
            width: 200px;
            height: 200px;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .icon {
            position: absolute;
            right: 2%;
            top: 86%;
        }
        .follow {
            position: absolute;
            top: 130%;
            left: 6%;
        }
    }
    .description {
        padding-left: 20px;
        position: relative;
        height: 200px;
        width: 90%;
        margin: 0 auto;
        background-color: var(--backgroundcolor_30);
        border-radius: 0 0 20px 20px;
        .row_description {
            position: absolute;
            top: 0%;
            // left: 20%;
            padding-left: 200px;
            display: flex;
            justify-content: space-between;
            .name {
                margin-top: 20px;
                display: flex;
                justify-content: center;
                align-items: center;

                h1 {
                    font-size: 30px;
                    font-weight: 700;
                    margin-right: 10px;
                }
            }
        }
        .contact {
            position: absolute;
            top: 0;
            right: 0;
            margin: 20px;
            display: flex;
            gap: 20px;
            .icon {
                font-size: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                border-radius: 5px;
                border: solid 2px var(--color_purple);
                a {
                    padding-top: 2px;
                    padding-left: 10px;
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .sologan {
            position: absolute;
            bottom: 12%;
            // left: 20%;
            padding-left: 220px;
            margin-bottom: 20px;
            font-size: 14px;
            width: 70%;
        }
    }
}
@media screen and (max-width: 1200px) {
    .container {
        .background {
            .avatar {
                bottom: -100px;
                left: 6%;
                width: 200px;
                height: 200px;
            }
        }
        .description {
            // padding-left: 260px;
            .row_description {
                position: absolute;
                top: 0%;
                // left: 25%;
                padding-left: 200px;
                display: flex;
                justify-content: space-between;
                .name {
                    margin-top: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    h1 {
                        font-size: 30px;
                        font-weight: 700;
                        margin-right: 10px;
                    }
                }
            }
            .sologan {
                position: absolute;
                bottom: 12%;
                // left: 25%;
                padding-left: 220px;
                margin-bottom: 20px;
                font-size: 14px;
                width: 70%;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .container {
        .background {
            .avatar {
                bottom: -100px;
                left: 6%;
                width: 200px;
                height: 200px;
            }
        }
        .description {
            .row_description {
                position: absolute;
                top: 0%;
                // left: 35%;
                padding-left: 200px;
                display: flex;
                justify-content: space-between;
                .name {
                    margin-top: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    h1 {
                        font-size: 30px;
                        font-weight: 700;
                        margin-right: 10px;
                    }
                }
            }
            .sologan {
                position: absolute;
                bottom: 12%;
                padding-left: 220px;
                margin-bottom: 20px;
                font-size: 14px;
                width: 70%;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .container {
        .background {
            .avatar {
                bottom: -75px;
                left: 6%;
                width: 150px;
                height: 150px;
            }
            .follow {
                top: 123%;
                left: 6%;
            }
        }
        .description {
            .row_description {
                position: absolute;
                top: 0%;
                // left: 35%;
                padding-left: 160px;
                display: flex;
                justify-content: space-between;
                .name {
                    margin-top: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    h1 {
                        font-size: 24px;
                        font-weight: 700;
                        margin-right: 10px;
                    }
                }
            }
            .sologan {
                position: absolute;
                bottom: 28%;
                // left: 35%;
                padding-left: 180px;
                margin-bottom: 20px;
                font-size: 14px;
                width: 70%;
            }
        }
    }
}

@media screen and (max-width: 540px) {
    .container {
        width: 100%;
        .background {
            height: 250px;
            .avatar {
                bottom: -50px;
                left: 10%;
                width: 100px;
                height: 100px;
            }
            .follow {
                width: 100px;
                top: 125%;
                left: 5%;
            }
        }
        .description {
            width: 100%;
            .row_description {
                position: absolute;
                top: 0%;
                // left: 30%;
                padding-left: 140px;
                display: flex;
                justify-content: space-between;
                .name {
                    margin-top: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    h1 {
                        font-size: 18px;
                        margin-right: 10px;
                    }
                }
            }
            .contact {
                position: absolute;
                top: 0;
                right: 0;
                margin: 20px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                .icon {
                    font-size: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 40px;
                    height: 40px;
                    border-radius: 5px;
                    border: solid 2px var(--color_purple);
                    a {
                        padding-top: 2px;
                        padding-left: 10px;
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .sologan {
                position: absolute;
                bottom: 10%;
                left: 5%;
                margin-bottom: 20px;
                font-size: 14px;
                width: 70%;
                padding-left: 0;
            }
        }
    }
}
