.container_navbar {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    width: 100%;
    margin: 0 auto;
    display: flex;
    // gap: 2rem;
    // width: 100%;
    height: 80px;
    align-items: center;
    color: var(--font_color_dark);
    .container_logo {
        width: 300px;
        height: 80px;
        img {
            width: 300px;
            height: 80px;
        }
    }
    .container_search {
        margin: auto 0;
        height: 50px;
        width: 400px;
        display: flex;
        align-items: center;
    }
    .container_discover {
        width: auto;
        align-items: center;
        margin: auto 0;
        margin-left: 100px;
        margin-right: 20px;
    }
    .container_sidebar {
        display: none;
        padding-left: 20px;
        padding-right: 20px;
    }
    .container_list {
        margin-left: auto;
        margin-right: 30px;
        width: 240px;
        gap: 10px;
        display: flex;
        align-items: center;
        .container_wallet {
            width: 140px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
        }
    }

    .container_button_menu {
        display: none;
        width: 40px;
        .button_menu {
            border: var(--border_input);
            font-size: 26px;
            color: var(--font_color_dark);
            width: 40px;
            height: 40px;
            border-radius: 10px;
            background-color: var(--backgroundcolor_30);
        }
    }
}
@media screen and (max-width: 1200px) {
    .container_navbar {
        height: 60px;
        gap: 10px;
        .container_discover {
            font-size: 12px;
            font-weight: 500;
            margin-left: 30x;
        }
        .container_logo {
            width: 200px;
            height: 60px;
            img {
                width: 200px;
                height: 60px;
            }
        }
        .container_search {
            width: 300px;
            height: 30px;
        }
        .container_wallet {
            width: 160px;
            font-size: 14px;
            height: 30px;
        }
        .container_sidebar {
            display: none;
        }
    }
}
@media screen and (max-width: 992px) {
    .container_navbar {
        .container_discover {
            display: none;
        }
        .container_list {
            margin-right: 10px;
            margin-left: auto;
        }
        .container_button_menu {
            display: block;
            margin-right: 10px;
            .button_menu {
                border: var(--border_input);
                font-size: 18px;
                color: var(--font_color_dark);
                width: 40px;
                height: 40px;
                border-radius: 10px;
                background-color: var(--backgroundcolor_30);
            }
        }
        .container_sidebar {
            display: block;
            overflow: hidden;
            font-weight: 700;
            border: var(--border_input);
            z-index: 1000;
            width: 100%;
            height: fit-content;
            position: absolute;
            top: 60px;
            left: 0;
            background-color: var(--backgroundcolor_60);
            border-radius: 10px;
        }
        .container_search {
            margin: 0 20px;
            display: none;
        }
    }
    @media screen and (max-width: 768px) {
        .container_navbar {
            gap: 0;
            .container_list {
                margin-left: auto;
                .container_wallet {
                    margin-right: 0;
                }
            }
        }
    }
    @media screen and (max-width: 540px) {
        .container_navbar {
            .container_list {
                margin-left: auto;
                width: 226px;
                margin: 0;
                gap: 3px;
                .container_wallet {
                    margin-right: 0;
                }
            }
            .container_button_menu {
                .button_menu {
                    margin-right: 0px;
                }
            }
            gap: 0;
            justify-content: space-between;
        }
    }
    @media screen and (max-width: 540px) {
        .container_navbar {
            .container_list {
                display: none;
                margin-left: auto;
                width: 100%;
                margin: 0;
                gap: 3px;
                .container_wallet {
                    margin-right: 0;
                }
            }
            .container_button_menu {
                .button_menu {
                    margin-right: 0px;
                }
            }
            gap: 0;
            justify-content: space-between;
        }
    }
}
