.container_main {
    max-width: 1100px;
    .button {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        .btn_tag {
            float: left;
            padding: 0 20px;
            margin-bottom: 20px;
            margin-right: 30px;
            height: 40px;
            color: #4c4747;
            background-color: #fff;
            border: 1px solid;
            border-radius: 30px;
            &:hover {
                color: var(--gradient-purple-to-dark, #a511ca);
                border: 1px solid var(--gradient-purple-to-dark, #a511ca);
            }
        }
        .btn_tag.active {
            color: var(--gradient-purple-to-dark, #a511ca);
            border: 1px solid var(--gradient-purple-to-dark, #a511ca);
        }
    }
}
.popular_collector {
    width: 100%;
    h2 {
        font-weight: 700;
        margin: 0;
        font-size: var(--font_size_h1);
        background-image: var(--linearcolor_befor_hover);
        background-clip: text; /* Áp dụng gradient lên vùng chữ */
        color: transparent;
        -webkit-background-clip: text; /* Áp dụng gradient lên vùng chữ */
    }
}

@media screen and (max-width: 1130px) {
    .container_main {
        .button {
            max-width: 540px;
        }
    }
}
@media screen and (max-width: 554px) {
    .container_main {
        .button {
            max-width: 260px;
        }
    }
}
