.wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    .label {
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
        line-height: 25px;
        text-align: left;
    }

    .container {
        .button-container {
            display: flex;
            height: 55px;
            padding: 20px;
            font-size: 18px;
            font-weight: 400;
            border-radius: 10px;
            border: 0.7px solid rgba(0, 0, 0, 0.25);
            background: #f8fafd;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

            .icon {
                font-size: 25px;
            }
        }

        .options {
            position: relative;
            padding: 20px;
            margin-top: 10px;
            border-radius: 8px;
            background: #f8fafd;
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
            list-style: none;

            .option {
                display: flex;
                height: 55px;
                cursor: pointer;
                padding: 0 16px;
                border-radius: 8px;
                align-items: center;
                background: #fff;

                .icon {
                    font-size: 25px;
                    margin-right: 12px;
                }

                .option-text {
                    font-size: 18px;
                    color: #333;
                }

                &:hover {
                    background: #f2f2f2;
                }
            }
        }
    }
}
