.guide-wrapper {
    padding: 50px 10% 100px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.title {
    margin-top: 20px;
}

.heading {
    margin-top: 40px;
}
.guide-wrapper {
    margin-bottom: 80px;
}
