.icon_container {
    cursor: pointer;
    opacity: 0.8;
    background-color: var(--backgroundcolor_30);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    color: var(--font_color_dark);
    font-size: 18px;
    border: 1px solid var(--font_color_dark);
}
.icon_container:hover {
    // opacity: 0.5;
    &:hover {
        color: #5900ff;
        font-weight: bold;
    }
}
// @media screen and (max-width: 768px) {
//     .icon_container {
//         margin: 0 10px;
//     }
// }
