.wrapper {
    margin-top: 24px;
}

.container {
}

.image-container {
    position: relative;

    cursor: pointer;
    & .image {
        transition: all ease-in-out;
        transition-duration: 300s;
        border-radius: 10px;
        opacity: 0.9;
        object-fit: cover;
        width: 382px;
        height: 361px;
        border-radius: 12px;
    }
}

@media only screen and (max-width: 767px) {
    .image-container {
        & .image {
            width: 100%;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
}

@media only screen and (min-width: 1280px) and (max-width: 1535px) {
}

@media only screen and (min-width: 1536) {
}
