.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 13px;

    .title {
        color: var(--on-primary-color-60, #3c3838);
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
        line-height: 25px;
    }

    .container {
        border: 1px dashed #8f04a6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-radius: 20px;
        padding: 50px 0;

        .type {
            color: rgba(0, 0, 0, 0.5);
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%; /* 18px */
            margin-bottom: 30px;
        }

        .button {
            max-width: 160px;
        }
    }
}

.circle {
    padding: 8px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: linear-gradient(
        90deg,
        #2400ff -22.36%,
        rgba(92, 0, 241, 0.85) 39.25%,
        rgba(112, 0, 255, 0.7) 68.73%,
        rgba(173, 0, 255, 0.55) 129.76%
    );
}

.icon {
    color: #fff;
    font-weight: 700;
    font-size: 30px;
}

@media only screen and (max-width: 767px) {
    .wrapper {
        .container {
            .type {
                font-size: 14px;
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
}

@media only screen and (min-width: 1280px) and (max-width: 1535px) {
}

@media only screen and (min-width: 1536px) {
}
