.container {
    width: 100%;
    .detail_container {
        margin: 50px auto;
        display: flex;
        width: 1328px;
        justify-content: space-between;
        .detail_left {
            width: 716px;
            height: 912px;
        }
        .detail_right {
            width: 589px;
            height: 912px;
        }
    }
}
@media screen and (max-width: 1339px) {
    .container {
        .detail_container {
            display: flex;
            flex-direction: column;
            width: 992px;
            margin: 30px auto;
            .detail_left {
                display: flex;
                justify-content: center;
                width: 716px;
                height: 912px;
                margin: 30px auto;
            }
            .detail_right {
                margin-top: 20px;
                margin: 0 auto;
                width: 716px;
                height: 912px;
            }
        }
    }
}
