.wrapper {
    overflow: hidden;
    width: 100%;
}

.about-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    text-align: center;

    .about-container {
        width: 90%;
        margin: 0 auto;
        padding: 10px 20px;
        margin-top: 30px;
        .about {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px;

            .about-image {
                flex: 1;
                margin-right: 40px;
                overflow: hidden;

                .image {
                    max-width: 100%;
                    height: auto;
                    display: block;
                    transition: all ease 400ms;

                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }

            .about-content {
                flex: 1;
                display: flex;

                justify-content: space-between;
                flex-direction: column;

                h2 {
                    text-align: left;
                    font-size: 23px;
                    margin-bottom: 15px;
                    color: #333;
                }

                p {
                    text-align: left;
                    font-size: 18px;
                    line-height: 1.5;
                    color: #666;
                }

                .about-button {
                    text-align: left;
                    .button {
                        text-align: center;
                        display: inline-block;
                        padding: 10px 30px;
                        max-width: 150px;
                        background: linear-gradient(
                            90deg,
                            #2400ff -22.36%,
                            rgba(92, 0, 241, 0.85) 39.25%,
                            rgba(112, 0, 255, 0.7) 68.73%,
                            rgba(173, 0, 255, 0.55) 129.76%
                        );
                        color: #fff;
                        font-size: 12px;
                        font-weight: 600;
                        text-decoration: none;
                        border-radius: 25px;
                        margin-top: 15px;
                        transition: 0.3s ease;
                    }
                }
            }
        }
    }
}

.founder-wrapper {
    padding: 46px 10px 10%;
    background: #f8fafd;

    .founder-container {
        margin-top: 50px;
        padding: 50px 0;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: #f8fafd;

        .three-item {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 60px;
        }
        .two-item {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 60px;
        }
    }
}

.title {
    margin-top: 20px;
}

.about-wrapper {
    margin-top: 40px;
    background: #f8fafd;
    margin: 20px 10px 80px;
    border-radius: 12px;
}

.heading {
    margin-top: 40px;
}

@media screen and (max-width: 768px) {
    .about-container {
        padding: 0;

        .about {
            padding: 20px;
            flex-direction: column;
            text-align: center;
            align-items: center;

            .about-image {
                margin-right: 0px;
                margin-bottom: 20px;
                max-width: 100%;
                margin: 0;
                padding: 0;

                .about-button {
                    .button {
                    }
                }
            }

            .about-content {
                display: flex;
            }
        }
    }
    .three-item {
        grid-template-columns: 1fr;
        gap: 60px;
    }
    .two-item {
        grid-template-columns: 1fr;
        gap: 60px;
    }
}
