.container_discover {
    margin-left: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
    letter-spacing: 1px;
    li {
        width: fit-content;
        font-size: var(--font_size_title);
        font-weight: 700;
        list-style: none;
        a {
        }
        &:hover {
            color: var(--font_color_purble_hover);
        }
    }
}
@media screen and (max-width: 1200px) {
    .container_discover {
        gap: 10px;
        margin-left: 0;
        li {
            font-size: var(--font_size_p);
        }
    }
}
