.container_notify {
    position: relative;
    height: 100%;
    .close_button {
        position: absolute;
        top: 2%;
        right: 2%;
    }
    .notify_display {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 300px;
        z-index: 1000;
        background-color: var(--backgroundcolor_60);
        border: var(--border_input);
        border-radius: 10px;
        top: 60px;
        left: -40px;
        .notify_row {
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            padding: 10px 20px;
            align-items: center;

            p {
                margin: 0;
            }
            &:hover {
                background-color: var(--backgroundcolor_30);
            }
        }
    }
    .notify_icon {
        width: 40px;
        height: 40px;
    }
}
@media screen and (max-width: 540px) {
    .container_notify {
        .close_button {
            position: absolute;
            top: 2%;
            right: 2%;
        }
        .notify_display {
            top: 100%;
            left: 0;
            width: 100%;
        }
    }
}
