.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    .label {
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
        line-height: 25px;
    }

    .container {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;

        .property {
            width: 100%;
            border-radius: 10px;
            border: 0.7px solid rgba(0, 0, 0, 0.25);
            background: #f8fafd;
            padding: 15px 10px;
            flex: 0.4;
        }

        .value {
            width: 100%;
            border-radius: 10px;
            border: 0.7px solid rgba(0, 0, 0, 0.25);
            background: #f8fafd;
            padding: 15px 10px;
            flex: 0.6;
        }

        .delete {
            background: #f8fafd;
            font-size: 24px;
            padding: 10px 12px;
            color: #3c3838;
            border-radius: 12px;
            transition: all 0.3s ease-in-out;

            &:hover {
                color: #f8fafd;
                background: rgb(219, 94, 94);
            }
        }
    }

    .add {
        cursor: pointer;
        display: flex;
        align-items: center;
        color: var(--on-primary-color-60, #3c3838);
        text-align: center;

        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;

        span {
            background: linear-gradient(
                90deg,
                #2400ff -22.36%,
                rgba(92, 0, 241, 0.85) 39.25%,
                rgba(112, 0, 255, 0.7) 68.73%,
                rgba(173, 0, 255, 0.55) 129.76%
            );
            width: 40px;
            height: 40px;
            border-radius: 12px;
            color: #f8fafd;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;
            font-weight: 700;
            margin-right: 10px;
        }
    }
}
