.container_wallet {
    width: 100%;
    height: 100%;
    button {
        width: 100%;
        height: 100%;
        border-radius: 50px;
        border: var(--border_input);
        background-color: var(--backgroundcolor_30);
        &:hover {
            border: var(--border_hover);
        }
    }
}
