.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .listnft_container_box {
        // width:100%;
        width: 1100px;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        margin: 0 auto;
    }
    @media screen and (max-width: 1100px) {
        .listnft_container_box {
            gap: 10px;
            width: 992px;
        }
    }
    @media screen and (max-width: 992px) {
        .listnft_container_box {
            gap: 8px;
            width: 768px;
        }
    }
    @media screen and (max-width: 768px) {
        .listnft_container_box {
            gap: 10px;
            width: 540px;
        }
    }

    @media screen and (max-width: 540px) {
        .listnft_container_box {
            width: 410px;
            gap: 10px;
        }
    }
    @media screen and (max-width: 440px) {
        .listnft_container_box {
            width: 370px;
            gap: 10px;
            margin: 0 auto;
        }
    }
}
