.background_container {
    width: 100%;
    color: var(--backgroundcolor_60);
    .background_container_header {
        position: relative;
        width: 100%;
        .background_container_image {
            width: 100%;
            height: 66rem;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .background_content_container {
            position: absolute;
            display: flex;
            flex-direction: column;
            gap: 3rem;
            width: 35%;
            top: 30%;
            margin-left: 8rem;
            color: var(--background_white);
            h1 {
                font-size: var(--font_size_h1);
            }
            p {
                font-size: var(--font_size_title);
            }
            .background_content_button_container {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 2rem;
                a {
                    display: block;
                    width: fit-content;
                    height: 100%;
                }
            }
            @media screen and (max-width: 1024px) {
                top: 25%;
                h1 {
                    font-size: 2.2rem;
                }
                p {
                    font-size: 1.2rem;
                }
            }
            @media screen and (max-width: 768px) {
                top: 15%;
                h1 {
                    font-size: 2rem;
                }
                p {
                    font-size: 1rem;
                }
            }
        }
    }

    .background_container_bottom {
        h4 {
            font-weight: 600;
            margin: 10px 0;
            font-size: 16px;
            display: flex;
            justify-content: center;
        }
    }
}
